@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

.font_title {
  font-family: "Libre Baskerville", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* font-family: "Inter", sans-serif; */
}

/* .font_title {
  font-family: "var(--font-libre-baskerville)";
} */

@layer utilities {
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
}

.round_animate {
  animation: spin 5s linear infinite;
}

.timeline_nargin:nth-child(odd) {
  margin-top: 175px;
}

.timeline_nargin:nth-child(even) {
  margin-bottom: 183px;
}
.timeline_nargin:nth-child(odd) .alt_year {
  top: -64px;
}

.timeline_nargin:nth-child(even) .alt_year {
  bottom: -75px;
}
